<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProfoundPick</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .input-group{
            justify-content: center;
            align-items: center;
            background: #38383838;
            padding: 50px;
            border-radius: 5%;
            display: block;
            margin-top: 6%;
        }
        #form_title{
            text-align: center;
            padding-bottom: 3%;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">ProfoundPick</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/team">Team</a>
                </div>
            </div>
        </div>
    </nav>

    

    <div class="container">
        <div class="input-group justify-content-center">
            <h2 id="form_title">Подать документы</h2>
            {% if wrong_docs == "4" %}
            <p class="danger">Выберите набор документов</p>
            {% elif wrong_docs%}
            <p class="danger">Неверный пакет документов</p>
            {% endif %}
            <form action="/upload" method="post" enctype="multipart/form-data">
                <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="service">
                    <option selected value=4>Выберите набор документов</option>
                    <option value=0>Набор #1 (Договор, акт, приказ)</option>
                    <option value=1>Набор #2 (Соглашение)</option>
                    <option value=2>Набор #3 (Заявление, акт, приказ, соглашение)</option>
                </select>
                <input class="form-control" id="formFileLg" type="file" name="files" aria-describedby="button-addon2" multiple>
                <button type="submit" class="btn btn-dark" id="button-addon2">Отправить</button>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>